.label{
    background-image: url(../images/title\ frame.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
}
.label h6{
    padding-top: 7px;
}
h2{
    color: rgb(41, 41, 116);
}
.icon i{
    padding: 2px;
    font-size: 40px;
}
.box1{
    border-right: 2px dashed rgb(128, 128, 128);
}
.image-icon{
    border: 3px solid rgb(41, 41, 116);
    border-radius: 100%;
}